@import "style/variables.scss";

.LearningPathsCard {
  cursor: pointer;
  border-radius: 10px;
  min-width: 400px;
  height: 279px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  color: $secondary;
  font-family: $font-family;
  font-size: 18px;
<<<<<<< HEAD
=======

>>>>>>> master
  .header {
    align-self: flex-end;
    background-image: $primary-alt;
    background-image: $primary;
    border-radius: 0px 10px 0px 10px;
    width: 25%;
    text-align: center;
  }
  .bottomCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0px 0px 10px 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    height: 25%;
    background-image: $primary-alt;
    background-image: $primary;
  }
}
.courses {
  background-color: rgb(41, 41, 41);
  padding-bottom: 10px;
  margin: -20px 10px 10px 10px;
  padding-top: 20px;
  border-radius: 0px 0px 10px 10px;
}
.courseLine {
  color: $secondary;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  &:hover {
    background-color: beige;
    color: black;
    list-style: none;
  }

  .btn-primary:hover {
    border: none !important;
    color: #fff;
    background-color: #fff;
    border-color: #fff;
  }
}
