@import "style/variables.scss";

.LearningPaths {
  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $primary-old;
    padding: 20px 0 20px;
    color: white;
  }
}

.LearningPathShow {
  h3 {
    margin: 15px 0 15px;
    text-align: center;
    color: $primary-old;
    font-weight: bolder;
  }
}
