@import "style/variables.scss";

.JumbotronDisplay {
  background-image: $primary-alt;
  background-size: cover;
  min-height: 400px;
  min-width: 100%;
  margin: 0;

  h2,
  h3 {
    color: white;
  }
  .cta:hover {
    color: #e57c00;
  }
}
