@import "style/variables.scss";

.navbar {
  background-color: $secondary;
  min-height: 114px;
  font-family: $font-family;
  h1 {
    color: $footer-color;
  }
  .title-bold {
    font-weight: bold;
  }
}

.nav-link {
  background-image: $primary;
  background-color: $primary-old;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-size: 0, 100%;
}

.nav-icons {
  color: $primary;
  size: 40;
}

.link-position {
  display: flex;
  justify-content: flex-end;
}

.user-avatar-navbar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

span {
  z-index: +1;
}

.mr-5 {
  margin-right: 80px !important;
}
