@import "style/variables.scss";

.Pricing {
  box-sizing: border-box;
  h2,
  h3 {
    color: $primary-old;
    color: $primary-alt;
    color: $primary;
  }
  h2 {
    font-size: 40px;
  }
  .table-striped > tbody > tr:nth-child(2n + 1) > td,
  .table-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: $light-orange;
  }

  td,
  th,
  .table thead th {
    border: none;
  }
  table > tbody td {
    border-right: 1px solid $secondary;
    font-size: 1em;
    color: $footer-color;
  }
}
