@import "style/variables.scss";

.ButtonPrimary {
  background-image: $primary-alt;
  background-image: $primary;
  border: none;
  border-radius: 100px;
  color: white;
  font-family: $font-family;
}

button:disabled {
  background-image: none;
  background-color: grey !important;
}

.large {
  width: 423px;
  height: 60px;
}
.medium {
  width: 160px;
  height: 56px;
}
.small {
  width: 66px;
  height: 26px;
}
