@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$footer-size: 15vh;

$primary: -webkit-linear-gradient(#FFC000, #FF8A00);
$secondary: white;
$orange-background: #FF8A00; 
$footer-color: #5C5C5C;

$font-family: 'Nunito Sans', sans-serif;

// Typo : Nunito
//    -  Hero : 44px
//    -  Hero Body : 18px
//    -  Heading: 40px
//    -  Sub Heading : 18px
//    -  Heading body : 14px

