@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Regular.ttf");
}

$footer-size: 15vh;
$font-family: "Nunito Sans", sans-serif;

$primary: -webkit-linear-gradient(to left, #48adb5, #32797e)
  /* Chrome 10-25, Safari 5.1-6 */ linear-gradient(to left, #48adb5, #32797e)
  #32797e;
$primary-alt: linear-gradient(
  to left,
  #48adb5,
  #32797e
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$primary-old: #32797e; /* fallback for old browsers */

$secondary: #ffffff;
$orange-background: #32797e;
$light-orange: #f6ffff;
$footer-color: #5c5c5c;

// Typo : Nunito
//    -  Hero : 44px
//    -  Hero Body : 18px
//    -  Heading: 40px
//    -  Sub Heading : 18px
//    -  Heading body : 14px
