@import "./variables";

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-family: $font-family!important;
}

#root {
  margin-bottom: $footer-size; /* .footer height */
  min-height: 100%;
}

.Navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-size; /* #root margin-bottom */
  background-color: $footer-color!important;
}
