@import "style/variables";

.row{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .register{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    
    form{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      
      .form-group{
        display:flex;
        flex-direction: column;

        .ButtonPrimary {
          margin-top: 5px;
        }
      }
    }
  }
}
